<footer class="wrapper">
  <div class="wrapper__container">
    <div class="wrapper__container__column">
      <div class="wrapper__container__column__logo">
        <img src="../../../assets/logo-gg-footer.svg" alt="" />
      </div>
    </div>
    <div class="wrapper__container__column"></div>
    <div class="wrapper__container__column">
      <div class="wrapper__container__column__adress">
        <h3>Escritório</h3>
        <p>
          +55 21 2530 0591<br />
          Praia de Botafogo, 440 - 13° andar<br />
          Botafogo | Rio de Janeiro - RJ<br />
          contato@grupogera.com
        </p>
      </div>
    </div>
    <div class="wrapper__container__column">
      <div class="wrapper__container__column__sMedia">
        <h3>
          Receba nossas news
        </h3>
        <div>
          <a href="https://www.facebook.com/">
            <img class="wrapper__container__column__sMedia__face" src="../../../assets/Facebook_footer.svg"
              alt="facebook link" />
          </a>
          <a href="https://www.instagram.com/">
            <img class="wrapper__container__column__sMedia__insta" src="../../../assets/Instagram_footer.svg"
              alt="instagram link" />
          </a>
          <a href="https://www.twitter.com/">
            <img class="wrapper__container__column__sMedia__twitter" src="../../../assets/Twitter_footer.svg"
              alt="twitter link" />
          </a>
          <a href="https://www.linkedin.com/">
            <img class="wrapper__container__column__sMedia__linkedin" src="../../../assets/Linkedin_footer.svg"
              alt="linkedin link" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
