<footer class="footerWrapper">
  <div class="footerWrapper__container">
    <div class="footerWrapper__container__column">
      <img src="../../../assets/logo-gg-footer.svg" alt="" />
    </div>
    <div class="footerWrapper__container__column"></div>
    <div class="footerWrapper__container__column">
      <img src="../../../assets/temporaryFolder/gera-fonte.png" alt="" />
    </div>
    <div class="footerWrapper__container__column">
      <img src="../../../assets/temporaryFolder/gera-foot-item.png" alt="" />
    </div>
  </div>
</footer>
