.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;

  height: 15%;
  width: 100%;

  background-color: var(--primary-transparent);

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
  }
}

.headerWrapper__container__img {
  width: 3%;
  height: fit-content;
}

.headerWrapper__container__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 60%;

  a {
    margin-right: 1%;
    margin-left: 1%;

    color: var(--primary-white);
    font-family: var(--font-family);
    outline: none;
    text-decoration: none;
  }
}
