.contentWrapper {
  background-color: var(--secondary-white);
}

.contentWrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2em;

  h1 {
    display: flex;
    align-items: flex-end;

    margin: 0;
  }
}

.contentWrapper__header__options {
  button {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.contentWrapper__container--save, .contentWrapper__container--command {
  display: flex;
  flex-direction: column;

  width: 300px;//largura fixa aqui, verificar se isso é o ideal para o responsivo
}
